body {
    background-color: #254559;
    margin-top: 0%;
}

.container {
    margin: 0 10% 0 10%;
    display: grid;
    box-shadow: 0px 0px 30px;
    background-color: #286870;
    height: minmax(100hv, auto);
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-rows: 300px 3rem repeat(3, 2fr) 1fr;
    grid-auto-rows: minmax(1.5fr, auto);
    grid-template-areas: "banner banner banner" "nav nav nav" "Menu main main" "Menu cards cards" "form form form" "footer footer footer";
}

.header {
    grid-area: banner;
}

.nav {
    grid-area: nav;
}

.sideMenu {
    grid-area: Menu;
}

.main {
    grid-area: main;
}

.cards {
    grid-area: cards;
}

form {
    grid-area: form;
}

footer {
    grid-area: footer;
}

hr {
    border: 1px dashed rgba(255, 255, 255, 0.2);
}

.header {
    background-image: url('banner.jpeg');
    background-size: cover;
    color: white;
}

.header h1 {
    margin-left: 40px;
    margin-top: 100px;
}

.header q {
    margin-left: 40px;
}

.nav {
    background-color: #A0F2EA;
    padding: 0%;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    margin: 0%;
    padding: 0%;
    align-content: center;
}

.navBar li {
    list-style-type: none;
    padding: 0%;
}

.navbar a:link {
    color: #0C1726;
    text-decoration: none;
    transition: ease-in 0.18s;
}

.navbar a:hover {
    color: white;
    transition: ease-in 0.18s;
}

.sideMenu {
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
}

.menu {
    padding: 3%;
    color: white;
}

blockquote {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 3%;
    text-align: center;
    line-height: 200px;
    height: 200px;
    border: 2px dashed white;
}

.main {
    color: white;
    padding: 3%;
}

form {
    height: 100%;
    margin-top: 20 px;
}

fieldset {
    height: 100%;
    color: white;
}

fieldset input {
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    ;
}

.cards {
    display: flex;
}

.cards div {
    padding: 5%;
    color: white;
}

form {
    margin-top: ;
}

fieldset label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

#textbox {
    width: 70%;
    height: 50%;
}

#submit {
    float: right;
}

footer {
    margin-top: 55px;
    background-color: white;
}

.codiLogo {
    width: 4rem;
    height: auto;
}